/************* Switch *************/
.dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.checkbox {
  display: none;
}

.checkbox:checked ~ .switch::before {
  transform: translateX(0);
}

.switch {
  height: 4rem;
  display: block;
  border-radius: 2rem;
  background: var(--switch);
  width: 8rem;
  padding: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.switch::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background: var(--switchSpinner);
  border-radius: 50%;
  transform: translateX(4rem);
  transition: 0.3s;
  will-change: transform;
}
